<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CommonAppClasses.Properties.Settings.meycoaleresql_prodConnectionString"
            connectionString="Data Source=CATMINU;Initial Catalog=meycoaleresql_prod;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>