<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="SalesOrderTracking.Properties.Settings.meycotestConnectionString" connectionString="Data Source=MP-APP1;Initial Catalog=meycoaleresql;Persist Security Info=True;User ID=sa;Password=ZNsBwW" providerName="System.Data.SqlClient" />
		<add name="SalesOrderTracking.Properties.Settings.ConnectionString" connectionString="Provider=VFPOLEDB.1;DELETED=YES;Data Source=f:\pro60\" providerName="System.Data.OleDb" />
		<add name="SalesOrderTracking.Properties.Settings.ConnectionStringPro60data" connectionString="Provider=VFPOLEDB.1;DELETED=YES;Data Source=f:\pro60\data\" providerName="System.Data.OleDb" />
	</connectionStrings>
	<appSettings>
		<add key="VFPDataPath" value="f:\pro60\data\" />
		<add key="VFPSysDataPath" value="f:\pro60\" />
		<add key="SQLConnString" value="Data Source=MP-APP1; Initial Catalog=meycoaleresql; User=sa; Password=ZNsBwW;" />
		<add key="NotifyAddress" value="jciniglio@meycoproducts.com" />
		<add key="SLSTaxAccount" value="23600-000" />
		<add key="REVAccount" value="40000-000" />
		<add key="PDFSTORAGEPath" value="n:\" />
		<add key="DEPARTMENTS" value="Accounting;CS;Design;Pricing;Shipping" />
		<add key="CELLCARRIERS" value="Verizon@vtext.com;T-Mobile@tmomail.net;ATT(Cingular)@txt.att.net;Cingula@cingularme.com;Sprint Nextel@messaging.sprintpcs.com" />
		<add key="SHIPAccount" value="45300-000" />
		<add key="ARAccount" value="11000-000" />
		<add key="SOPDFPath" value="n:\pdfsource\meyco\" />
		<add key="SMTPServer" value="mail.optonline.net" />
		<add key="SMTPUser" value="sales" />
		<add key="SMTPPassword" value="mpsales" />
		<add key="SMTPFromName" value="Meyco Customer Solutions Dept." />
		<add key="SMTPFromAddress" value="sales@meycoproducts.com" />
		<add key="TestMode" value="false" />
		<add key="PDFPath" value="n:\draftingpdf\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ShowShipInfo" value="Fales" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ClientRoleProvider">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>