<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>

	<appSettings>
		<!-- CONNECTION -->
		<add key="VFPDataPath" value=""/>
		<add key="VFPSysDataPath" value=""/>
		<add key="SQLConnString" value="Server=CATMINU;Initial Catalog=meycoaleresql_prod;Integrated Security=SSPI;" />

		<!-- DEPTS -->
		<add key="DEPARTMENTS" value="Accounting;CS;Design;Pricing;Shipping"/>
		<add key="CELLCARRIERS" value="Verizon@vtext.com;T-Mobile@tmomail.net;ATT(Cingular)@txt.att.net;Cingula@cingularme.com;Sprint Nextel@messaging.sprintpcs.com"/>

		<!-- ACCOUNTS -->
		<add key="SHIPAccount" value="45300-000"/>
		<add key="ARAccount" value="11000-000"/>
		<add key="SLSTaxAccount" value="23600-000"/>
		<add key="REVAccount" value="40000-000"/>

		<!-- SMTP -->
		<add key="SMTPServer" value=""/>
		<add key="SMTPUser" value=""/>
		<add key="SMTPPassword" value=""/>
		<add key="SMTPFromName" value="Meyco Customer Solutions Dept."/>
		<add key="SMTPFromAddress" value="sales@meycoproducts.com"/>
		<add key="NotifyAddress" value="john.kosinski@gmail.com"/>

		<!-- PDF STORAGE -->
		<add key="PdfLocalTempPath" value="C:\PdfStorage\"/>
		<add key="PdfStorageType" value="Local"/>
		<!--
		<add key="PDFPath" value="pdfs"/>
		<add key="SOPDFPath" value="pdfs/sales-orders"/>
		<add key="PDFSTORAGEPath" value="pdfs/storage"/>
		-->
		<add key="PDFPath" value="C:\PdfStorage\"/>
		<add key="SOPDFPath" value="C:\PdfStorage\SO\"/>
		<add key="PDFSTORAGEPath" value="C:\PdfStorage\Storage\"/>

		<!-- TELEMETRY -->
		<add key="TelemetryEnabled" value="true"/>
		<add key="TelemetryStorageType" value="Local"/>
		<add key="TelemetryFolderPath" value="C:\Users\User\Desktop\Papu\Meyco\telemetry\"/>
		
		<!-- MISC -->
		<add key="TestMode" value="true"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="ShowShipInfo" value="False"/>

		<!-- DATA CACHING -->
		<add key="CacheRetentionSeconds_CustomerTerm" value="1200"/>
		<add key="CacheRetentionSeconds_InventoryItems" value="1200"/>
		<add key="CacheRetentionSeconds_TrackingCodes" value="1200"/>
		<add key="CacheRetentionSeconds_SOSearch" value="1200"/>
		<add key="CacheRetentionSeconds_PriceLocator" value="1200"/>
		<add key="CacheRetentionSeconds_Spacing" value="1200"/>
		<add key="CacheRetentionSeconds_WorkGroups" value="1200"/>
		<add key="CacheRetentionSeconds_TrackingCodes" value="1200"/>
		<add key="CacheRetentionSeconds_TrackingActivity" value="1200"/>
		<add key="CacheRetentionSeconds_Warranty" value="1200"/>

		<!-- AZURE STORAGE -->
		<add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=meycostore;AccountKey=/G+HSBuqogzSy737zyKRxiuGeLk3yQvZBrwXtJafGkgLa+3ZeOAScVwritxE5OstNpGqmsr3j+Hu+ASttEling==;EndpointSuffix=core.windows.net" />
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Hashing" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
